
  <main role="main">
    <br>

    <app-actores
    (eventoActorSeleccionado)="CargarActor($event)"
    >  
    </app-actores>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">          
         <!-- listado de peliculas por Actor-->
        <app-tabla-peliculas-actor            
            [peliculas]="listadoPeliculas">            
        </app-tabla-peliculas-actor>-

          
            
         
         </div>
        <div class="col-md-4">
        <!-- listado de peliculas por Actor-->
        <app-detalle-pais
          [paisParaMostrar] = "paisActor">
        </app-detalle-pais>
        
        
      </div>

        <div class="col-md-4">
         <!-- detalles de Actor-->
         <app-detalle-actor
          [actorParaMostrar]="ActorElegido" >
        </app-detalle-actor>
       
          
                
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

