<br><br>
    <div class="container">
     <br><br>
  
        <div class="row">
          <div class="col-md-4 order-md-2 mb-4">
           <!-- agrego la parte de actores-->
           <app-tabla-actor
           (eventoCargarPais)= "cargarPaisSleccionado($event)"
           >
            

           </app-tabla-actor>
           
          
  

          </div>
          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Alta Pelicula</h4>
            <form  class="needs-validation"  [formGroup]= "formularioAlta" (ngSubmit)= "GuardarPelicula()" >
             
                <div class="col-md-6 mb-3">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="" value="" formControlName='nombre'>
                  <small class="invalid" *ngIf="formularioAlta.get('nombre')?.errors?.required && formularioAlta.get('nombre').touched" >El nombre es requerido</small>
                </div>
                
                 
              
              <div class="col-md-6 mb-3">
                <label for="tipo">Elegí el Tipo</label>
                <select class="custom-select d-block w-100" id="tipo" name="tipo"  formControlName='tipo'>
                  <option value="terrro">Terror</option>
                  <option value="accion">Accion</option>
                  <option value="ficcion">Ficcion</option>
                  <option value="amor">Amor</option>
                </select>
                <small class="invalid" *ngIf="formularioAlta.get('tipo')?.errors?.required && formularioAlta.get('tipo')?.touched" >Tiene que elegir uno</small>
              </div>  
              <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="fecha">fecha de Estreno</label>
                    <input type="date" class="form-control" id="fecha" placeholder="fecha" formControlName='fecha'>
                  </div>

                  <div class="col-md-4 mb-3">
                    <label for="publico">Publico</label>
                    <input type="number" class="form-control" id="publico" placeholder="cantidad" formControlName='publico'>
                  </div>
              </div>
  
              <div class="col-md-6 mb-3">
                <label for="foto">Foto</label>
                <input type="text" class="form-control" id="foto" placeholder="foto" formControlName='foto'>
               
              </div>
  
              
             
                <div class="col-md-6 mb-3">  
                  <label for="actor">Actor </label>
                  <input type="text" class="form-control" id="actor" placeholder="Actor" formControlName='actor'>
                  <small class="invalid" *ngIf="formularioAlta.get('actor')?.errors?.required && formularioAlta.get('actor').touched" >El Actor es requerido</small>
              </div>                             
                
            
             
                        
             
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit"  [disabled]="formularioAlta.invalid" >Dar de Alta</button>
            </form>


             <!-- Componente listado actores-->
            <br><br>
                  


          </div>                 
        </div>
