

  <main role="main">
    <br>

    <app-tabla-pelicula 
    [listadoPeliculas]="listadoDeTablaPeliculas" 
    (eventoPeliculaSeleccionada)="CargarPeliculaSeleccionada($event)" >  
    </app-tabla-pelicula>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <app-alta-pelicula 
          (eventoCrearNuevaPelicula)="CargarNuevaPelicula($event)">
            
          </app-alta-pelicula>
         </div>
        <div class="col-md-4">
        
        <app-detalle-pelicula 
        [peliculaParaMostrar]="peliculaSeleccionada"
        ></app-detalle-pelicula>
      </div>

        <div class="col-md-4">
          <h2>Cargar Actores</h2>
       
          <p><a class="btn btn-secondary" href="#"  routerLink="/actores" role="button">Actores &raquo;</a></p>
       
                
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>
